.flag{
  border-radius: 20px;
  max-width: 50%;
  max-height: 50%;
}

h1, h2, h3, h4, h5, p{
  font-family: 'Poppins', sans-serif;
}

h5{
  font-size: 25px;
}

.card-bg{
  background-color: #ffffff8a;
}

.divider{
  height: 1px;
  background-color: #b6b6b6;
}

.border-flag{
  max-width: 70px;
  max-height: 70px;
}
