.col-flag-img{
  border-radius: 20px;
  width: 250px;
  object-fit: cover;
}

.col-coat-img{
  border-radius: 20px;
  width: 200px;
  object-fit: cover;
}

.col-capital-img{
  border-radius: 20px;
  width: 600px;
  object-fit: cover;
}

.mobile-visibility{
  display:none;
}

@media only screen and (max-width: 768px) {
  .col-capital-img{
    width: 300px;
  }

  .mobile-visibility{
    display:block;
  }
}

h1, h2, h3, h4, h5, p{
  font-family: 'Poppins', sans-serif;
}

h2{
  font-size:55px
}

h5{
  font-size: 30px;
}

.card-bg{
  background-color: #ffffff8a;
}

.divider{
  height: 1px;
  background-color: #b6b6b6;
}

.border-flag{
  width: 70px;
  height: 55px;
  object-fit: cover;
}

.country-map{
  min-height: 350px;
}
