
<script src="https://kit.fontawesome.com/43bd8246b5.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">

<!--HEADER-->
<div class="comparison-table">
    <div class="comparison-header">
        <div class="comparison-column desktop">
        </div>
        <div class="comparison-column col-1 header titleOne" id="titleOne" >
<!--            <h5 class="package" *ngIf="isCountry1Found">{{country1.common_name}}</h5>-->
            <app-comparison-search [predefinedString]="selectedCountry" (countryEvent)="recieveCountry1($event)"></app-comparison-search>
            <button *ngIf="isCountry1Found" routerLink="/country/{{country1.common_name}}" id="country1btn" class="details-btn" mat-flat-button>See details</button>
        </div>
        <div class="comparison-column col-2 header titleTwo" id="titleTwo">
<!--            <h5 class="package" *ngIf="isCountry2Found">{{country2.common_name}}</h5>-->
            <app-comparison-search (countryEvent)="recieveCountry2($event)"></app-comparison-search>
          <button *ngIf="isCountry2Found" routerLink="/country/{{country2.common_name}}" id="country2btn" class="w-50  mx-3 details-btn"  mat-flat-button>See details</button>
        </div>
        <div class="comparison-column header titleThree" id="titleThree" >
<!--            <h5 class="package" *ngIf="isCountry3Found">{{country3.common_name}}</h5>-->
            <app-comparison-search (countryEvent)="recieveCountry3($event)"></app-comparison-search>
          <button *ngIf="isCountry3Found" routerLink="/country/{{country3.common_name}}" id="country3btn" class="w-50  mx-3 details-btn"  mat-flat-button>See details</button>
        </div>
<!--        <div class="comparison-column desktop">-->
<!--        </div>-->
    </div>


    <!--PRICE-->

    <h5 class="mobile row-title">Flag</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Flag</p>
        </div>
        <div class="comparison-column feature-content active titleOne">
            <img src="{{country1.flag_png}}" alt="Country 1" *ngIf="isCountry1Found">
        </div>
        <div class="comparison-column feature-content titleTwo">
            <img src="{{country2.flag_png}}" alt="Country 2" *ngIf="isCountry2Found">
        </div>
        <div class="comparison-column feature-content titleThree">
            <img src="{{country3.flag_png}}" alt="Country 3" *ngIf="isCountry3Found">
        </div>
    </div>

    <!--REPEAT ROW - copy from here-->
    <h5 class="mobile row-title">Coat of arm</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Coat of arm</p>
        </div>
        <div class="comparison-column feature-content titleOne active">
            <img src="{{country1.coat_of_arm}}" alt="Coat of arm 1" *ngIf="isCountry1Found">
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <img src="{{country2.coat_of_arm}}" alt="Coat of arm 2" *ngIf="isCountry2Found">
        </div>
        <div class="comparison-column feature-content titleThree">
            <img src="{{country3.coat_of_arm}}" alt="Coat of arm 3" *ngIf="isCountry3Found">
        </div>
    </div>

    <!-- To here -->


    <!--REPEAT ROW - copy from here-->
    <h5 class="mobile row-title">Capital city</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Capital city</p>
        </div>
        <div class="comparison-column feature-content titleOne" >
            <p *ngIf="isCountry1Found">{{country1.capital[0]}}</p>
        </div>
        <div class="comparison-column feature-content centre titleTwo" >
            <p *ngIf="isCountry2Found">{{country2.capital[0]}}</p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3.capital[0]}}</p>
        </div>
    </div>

    <!-- To here -->




    <!--REPEAT ROW - copy from here-->
    <h5 class="mobile row-title">Continents</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Continents</p>
        </div>
        <div class="comparison-column feature-content titleOne" >
            <p *ngIf="isCountry1Found">{{country1.continents.join(", ")}}</p>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <p *ngIf="isCountry2Found">{{country2.continents.join(", ")}}</p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3.continents.join(", ")}}</p>
        </div>
    </div>

    <!-- To here -->

    <!--REPEAT ROW - copy from here-->
    <h5 class="mobile row-title" id="test">Population</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p id="test-1">Population</p>
        </div>
        <div class="comparison-column feature-content titleOne active" >
            <p *ngIf="isCountry1Found">{{country1.population}}</p>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <p *ngIf="isCountry2Found">{{country2.population}}</p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3.population}}</p>
        </div>
    </div>

    <!-- To here -->



    <!--REPEAT ROW - copy from here-->
    <h5 class="mobile row-title">Area</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Area</p>
        </div>
        <div class="comparison-column feature-content titleOne active" >
            <p *ngIf="isCountry1Found">{{country1.area}} km<sup>2</sup></p>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <p *ngIf="isCountry2Found">{{country2.area}} km<sup>2</sup></p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3.area}} km<sup>2</sup></p>
        </div>
    </div>

    <!-- To here -->



    <!--REPEAT ROW - copy from here-->

    <h5 class="mobile row-title">Time zones</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Time zones</p>
        </div>
        <div class="comparison-column feature-content titleOne active" >
            <ul *ngIf="isCountry1Found">
                <li *ngFor="let value of country1.timezones">{{ value }}</li>
            </ul>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <ul *ngIf="isCountry2Found">
                <li *ngFor="let value of country2.timezones">{{ value }}</li>
            </ul>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <ul *ngIf="isCountry3Found">
                <li *ngFor="let value of country3.timezones">{{ value }}</li>
            </ul>
        </div>
    </div>

    <!-- To here -->


    <!--REPEAT ROW - copy from here-->

    <h5 class="mobile row-title">Language</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Language</p>
        </div>
        <div class="comparison-column feature-content titleOne active" >
            <p *ngIf="isCountry1Found">{{country1languages.join(", ")}}</p>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <p *ngIf="isCountry2Found">{{country2languages.join(", ")}}</p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3languages.join(", ")}}</p>
        </div>
    </div>

    <!-- To here -->

    <!--REPEAT ROW - copy from here-->

    <h5 class="mobile row-title">Status</h5>
    <div class="comparison-table-row flex-table" >
        <div class="comparison-column table-feature desktop row-title" >
            <p>Status</p>
        </div>
        <div class="comparison-column feature-content titleOne active" >
            <p *ngIf="isCountry1Found">{{country1.status}}</p>
        </div>
        <div class="comparison-column feature-content centre titleTwo">
            <p *ngIf="isCountry2Found">{{country2.status}}</p>
        </div>
        <div class="comparison-column feature-content titleThree"   >
            <p *ngIf="isCountry3Found">{{country3.status}}</p>
        </div>
    </div>

    <!-- To here -->
</div>
