<div class="header d-flex justify-content-center shadow-sm" *ngIf="country != undefined">
  <h1 class="align-self-center m-0 text-uppercase fw-bold">{{country.common_name}}</h1>
</div>
<div class="container mt-5" *ngIf="country != undefined">
  <mat-card class="card-bg shadow-lg p-4">
    <div class="container">

      <div class="row mb-5 mb-md-3">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h5 class="text-lowercase">Flag</h5>
            <img src="{{country.flag_png}}" class="flag" alt="Flag">
          </div>
        </div>
      </div>

      <div class="row mb-5 mb-md-3">
        <div class="col-md-6">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 class="text-lowercase">Coat of arms</h5>
              <img src="{{country.coat_of_arm}}" class="flag" alt="Coat of arm">
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <div class="row mb-5 mb-md-3">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 class="text-lowercase">Capital city</h5>
              <h4 style="font-size:50px">{{country.capital}}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5 mb-md-3">
        <div class="col-md-6">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 class="text-lowercase">Continents</h5>
              <h4 style="font-size:50px">{{country.continents}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <mat-divider class="divider mt-3 mx-3 mx-lg-5"></mat-divider>

      <div class="row mb-3 mx-lg-3">
        <div class="col-12 d-flex flex-column justify-content-center">
          <h5 class="align-self-center mt-3">neighbours</h5>
          <div class="overflow-auto mx-0 mx-lg-5">
            <ul class="p-0 m-0 text-center" style="list-style: none">
              <li *ngFor="let borderCountry of borderCountries" class="d-inline-block m-1 m-lg-3">
                <img src="{{borderCountry.flag_png}}" class="border-flag rounded-circle" alt="Flag"
                     matTooltip="{{borderCountry.common_name}}"
                     (click)="goToPage(borderCountry.common_name)">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <mat-divider class="divider mb-3 mx-3 mx-lg-5"></mat-divider>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="text-lowercase m-0">Population</p>
              <p class="m-0 fw-bold">{{country.population}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="text-lowercase m-0">Area</p>
              <p class="m-0 fw-bold">{{country.area}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="text-lowercase m-0">Time zones</p>
              <p class="m-0 p-0 fw-bold" *ngFor="let timezone of country.timezones">{{ timezone }}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="text-lowercase m-0">Languages</p>
              <p class="m-0 fw-bold" *ngFor="let language of languages">{{language}}</p>
            </div>
          </div>

          <div class="row">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p class="text-lowercase m-0">Independent</p>
              <p class="m-0 fw-bold">{{ country.is_independent ? "Yes" : "No" }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card>
</div>
