<mat-card style="width: 400px;height: 500px; background-color: white; border-radius: 25px;">
  <img class="overflow-hidden mx-3 my-3" [src]="country.flag" style="border-radius: 25px;object-fit: cover" width="368" height="245"/>
  <mat-card id="country-name-card">{{country.name}}</mat-card>
  <div class="d-flex justify-content-center mt-4 align-items-center">
    <mat-icon style="vertical-align: middle; transform: scale(1.2)">location_city</mat-icon>
    <p class="mb-0 mx-2" style="font-size: 25px;font-weight: bold;vertical-align: middle;">{{country.capital}}</p>
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex w-50 justify-content-center mt-4 align-items-center">
      <mat-icon style="vertical-align: middle; transform: scale(1.2)">public</mat-icon>
      <p class="mb-0 mx-2" style="font-size: 22px;font-weight: bold;vertical-align: middle;">{{country.continent}}</p>
    </div>
    <div class="d-flex w-50 justify-content-center mt-4 align-items-center">
      <mat-icon style="vertical-align: middle; transform: scale(1.2); color:#94af9f;">groups</mat-icon>
      <p class="mb-0 mx-2" style="font-size: 22px;font-weight: bold;vertical-align: middle;">{{displayPopulation(country.population)}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center align-self-center mt-3 w-75">
    <button class="w-75 w-100" style="background-color: #94af9f;font-weight: bold " mat-flat-button>View Details</button>
  </div>
</mat-card>
